# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
*.csv
*.tsv
*.gz
*.7z
*.zip

# OS specific
.DS_Store
Thumbs.db

# Downloaded data folders
Circular_Economy_Dataset/